<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/dashboard">Dashboard</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ng-container *ngIf="isAuth$ | async">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a routerLink="/users">Users</a>
        </li>
        <li>
          <a routerLink="/" (click)="logout()">Log out</a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!(isAuth$ | async)">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a routerLink="/register">Register</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
      </ul>
    </ng-container>
  </div>
</mat-toolbar>
