<div [formGroup]="parentForm">
  <app-custom-input-def
    formControlName="password"
    type="password"
    label="Password"
    [parentForm]="parentForm"
    fieldName="password"
  ></app-custom-input-def>
  <app-custom-input-def
    formControlName="confirmPassword"
    type="password"
    label="Confrim password"
    [parentForm]="parentForm"
    fieldName="confirmPassword"
  ></app-custom-input-def>
  <p
    *ngIf="
      parentForm.get('confirmPassword')?.dirty &&
      !parentForm.hasError('required') &&
      parentForm.hasError('passwordsNotMatch')
    "
    style="color: red"
  >
    Passwords do not match
  </p>
</div>
